{{ $description := .Get "description" }}
{{ $image := .Get "image" }}

{{ with $description }}
<meta name="description" content="{{ . }}">
{{ end }}

{{ with $image }}
<meta property="og:image" content="{{ printf "images/%s" . | absURL }}">
<meta name="twitter:image" content="{{ printf "images/%s" . | absURL }}">
{{ end }}

<meta property="og:title" content="{{ .Page.Title }}">
<meta property="og:description" content="{{ with $description }}{{ . }}{{ else }}{{ .Page.Summary }}{{ end }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Page.Permalink }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Page.Title }}">
<meta name="twitter:description" content="{{ with $description }}{{ . }}{{ else }}{{ .Page.Summary }}{{ end }}">
