{{ define "main" }}
<div class="content-container">
    {{ if .Content }}
        <div class="sidebar">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="content">
            {{ if not ( eq .Title "ESPHome Docs") }}
                <h1>{{ .Title }}</h1>
            {{ end }}
            {{ .Content }}
        </div>
    {{ else }}
        <div class="content">
            <h1>{{ .Title }}</h1>
            {{ partial "sidebar.html" . }}
        </div>
    {{ end }}
</div>
{{ end }}
