{{ $currentPage := . }}
{{ $title := .Title }}
<div class="sidebar-content {{ if .Content }}scroll-trap{{ end }}">
    <h3>{{ $title }}</h3>
    <nav class="sidebar-nav">
        {{ if .Fragments }}
        {{ if .Fragments.Headings }}
            <ul>
            {{ range .Fragments.HeadingsMap }}
                <li><a href="#{{ .ID }}">{{ .Title |  safeHTML }}</a>
                    {{ if .Headings }}
                        <ul>
                        {{ range .Headings }}
                            <li><a href="#{{ .ID }}">{{ .Title |  safeHTML }}</a></li>
                        {{ end }}
                        </ul>
                    {{ end }}
                </li>
            {{ end }}
            </ul>
        {{ end }}
        {{ end }}
        {{ if .Pages }}
        <h3>In this section</h3>
        <ul class="section-list">
            {{ range .Pages }}
                {{ if .Title }}
                <li class="section-item">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </nav>

    <div class="sidebar-resource">
        <hr>
        <ul class="sidebar-social">
        {{ $repo := strings.TrimSuffix ".git" .Site.Data.repo.url }}
        {{ with .File }}
            {{ $path := printf "%s/blob/current/content/%s" $repo .Path }}
            <a href="{{ $path }}" class="ghedit">
                {{ os.ReadFile "static/images/icons/edit.svg" | safeHTML }}
                Edit this page on GitHub
            </a></li>
        {{ end }}
        </ul>
    </div>
</div>
<div id="overlay" class="overlay"></div>
