{{ $currentPage := . }}
<div class="sidebar-content">
    <nav class="sidebar-nav">
        {{ if .Fragments }}
        {{ if .Fragments.Headings }}
        <h3>On This Page</h3>
        {{ $startLevel := 2 }}
        {{ $endLevel := 3 }}
        {{ $ordered := true }}
        {{ .Fragments.ToHTML $startLevel $endLevel $ordered | safeHTML }}
        {{ end }}
        {{ end }}
        {{ if .Pages }}
        <h2>In this section</h2>
        <ul class="section-list">
            {{ range .Pages }}
            <li class="section-item">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>

    <div class="sidebar-resource">
        <hr>
        <ul class="sidebar-social">
        {{ $repo := .Site.Data.repo.url }}
        {{ with .File }}
            {{ $path := printf "%s/blob/current/%s.md" $repo . }}
            <li></li><a href="{{ $path }}" class="ghedit"><i class="fas fa-edit"></i>Edit this page on GitHub</a></li>
        {{ end }}
        </ul>
    </div>
</div>
